header {
  text-align: center;
  background-color: #10ffe2;
}
.filter-select {
  margin: 0;
  background-color: #01bbff;
}
.form-control {
  margin-top: 10px;
}
section {
  text-align: center;
}
.rrr{
  padding: 1rem;
}
.main {
  width: 1080px;
  height: 480px;
  background-image: url('../../../assets/image/spaceman2.jpeg');
  color: #fff;
}
.input-group-text {
  padding-top: 0.5rem;
  background-color: #01bbff;
  border: none;
}
.input-group-prepend{
  padding: 0.5rem 0.75rem 0 0.75rem;
}
footer {
  text-align: center;
  background-color: #0e61ff;
}
footer p {
  padding: 15px 0;
}
